* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: rgb(235, 232, 232);
}

body {
    background-color: dodgerblue;
}

nav {
    background-color: mediumblue;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

.nav-box {
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    align-self: center;
}

.nav-link:hover a {
    color: silver;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.lang-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 85px;
    background-color: rgb(114, 130, 148);
    border-radius: 5px;
    padding-left: 2px;
    z-index: 4;
}

.lang-dropdown {
    position: relative;
    margin-right: 5px;
}

.lang-dropdown:hover  .hover-lang {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 95px;
    width: 85px;
    background-color: rgb(114, 130, 148);
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 30px;
    z-index: 2;
}

.flag {
    width: 50px;
    height: 25px;
}

.arrow {
    width: 30px;
    height: 25px;
}

.hover-lang {
    display: none;
}

.nick {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link {
    margin-bottom: 10px;
}


.lang-dropdown {
    margin: 7px;
}

.welcome-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}

#welcome {
    padding-top: 50px;
    height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(204, 204, 204);
}

h2 {
    text-align: center;
    padding-top: 70px;
    width: 100%;
    color: rgb(204, 204, 204);
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.projects-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-link {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.screenshot {
    width: 90%;
}

@media only screen and (min-width: 960px) {

    nav {
        justify-content: space-between;
        flex-direction: row;
        font-size: 20px;
    }
    
    .menu {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav-box {
        width: 50%;
        justify-content: space-between;
    }

    .nick,
    .nav-link,
    .lang-dropdown {
        margin: 15px;
    }

    .nick {
        display: unset;
        margin-left: 60px;
    }

    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 47px;
    }

    .projects-holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .project-link {
        width: 45%;
        margin: 50px 25px 0 25px;
    }

    .screenshot {
        width: 100%;
    }
    
}